<div class="container" style="margin-top: 20px">
  <div class="wrapper">
    <img class="img-class" src="../assets/pic03.jpg" alt="site image1" />
    <img class="img-class" src="../assets/pic04.jpg" alt="site image2" />

    <img class="img-class" src="../assets/pic02.jpg" alt="site image2" />
    <img class="img-class" src="../assets/pic03.jpg" alt="site image1" />

    <img class="img-class" src="../assets/pic01.jpg" alt="site image2" />
    <img class="img-class" src="../assets/pic03.jpg" alt="site image1" />
  </div>
</div>
