<div class="container" style="margin-top: 30px">
  <div class="row" style="margin-left: 0px; margin-right: 0px">
    <div class="col-md-12 alert alert-success">
      <h5>Construction Estimates</h5>
      <section>
        Whether you are a property owner or a contractor, you always want to
        have a clear and accurate forecast of how much a building project will
        cost and how long it will take to complete. However, the timeline for
        new building construction can have their fair share of snags along the
        way, and closing can be pushed back by a few days or in some cases few
        months. Variables such as permit hiccups, weather events, construction
        accidents, or labor shortages are all things that can draw out a
        construction timeline. Underestimating, as well as overestimating, can
        both have negative consequences which is why no matter what type of
        estimate you’re given, it’s important to remain flexible. Time and Labor
        As we mentioned above, material costs can vary depending on the region,
        but labor costs can also vary depending on where your construction
        project is located as regional labor costs can play a role in
        determining costs.
      </section>
    </div>

    <div class="col-md-12 alert alert-warning">
      <h5>Time and Labor</h5>
      <section>
        As we mentioned above, material costs can vary depending on the region,
        but labor costs can also vary depending on where your construction
        project is located as regional labor costs can play a role in
        determining costs. Geographic region and what workers are paid in that
        region is a key component of the cost per square foot of new building
        construction. Whether you need to hire an architect, carpenter, concrete
        professional, or a painter, each is paid differently depending on where
        you are at in the country.
      </section>
    </div>

    <div class="col-md-12 alert alert-info">
      <h5>UnExpected Suprises</h5>
      <section>
        When estimating building costs, common expenses are often overlooked.
        Building construction is a process and surprises are likely to come up
        along the way. Some of these surprises include:
        <hr />
        <ul>
          <li>
            Site preparation (clearing a lot of trees, hauling dirt, removing
            rocks)
          </li>
          <li>
            Permit fees (local building codes, zoning laws, and restrictions)
          </li>
          <li>
            Time of year (labor is in demand during times of unemployment and
            low economic growth which means costs are typically higher)
          </li>
        </ul>
        <hr />
        While the list of potential surprises will vary depending on the
        construction project, you should always make sure to have a bit of a
        financial cushion or emergency fund (we recommend at least 10%) so that
        you aren’t left without the money when a surprise does arise. Commercial
        building construction requires an experienced team that values both your
        investment and your time. For over a decade, Camm Construction has
        worked on a multitude of commercial construction projects and learned
        how to prevent cost issues before they happen. We are honest about how
        long it takes to realistically complete a project and the hurdles that
        may come with it.
      </section>

      <div>
        <button
          type="button"
          class="btn btn-primary"
          id="started"
          style="float: right"
        >
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>
