/*
.wrapper {
    display: flex;
    justify-content: space-between;
}
*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

ul li {
    list-style-type: none;
}