<div class="container">
  <nav
    class="navbar navbar-expand-md navbar-dark bg-dark navbar-background wrapper"
  >
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#collapse_target"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/logo-sew.PNG"
        alt="Site Logo"
        style="width: 50px"
      />
      <span class="title">SEKHAR ENGINEERING WORKS</span></a
    >
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapse_target"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sew/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sew/aboutus">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sew/imagegallery">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sew/contactus">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sew/feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </nav>

  <app-sew-info></app-sew-info>
</div>
