<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-12 imageWrapper">
      <img
        class="imgStyle2"
        src="../assets/pic02.jpg"
        alt="site image 1"
        title="Construction Site 1 Reference Image"
      />

      <img
        class="imgStyle2"
        src="../assets/pic03.jpg"
        alt="site image 1"
        title="Construction Site 1 Reference Image"
      />
    </div>
  </div>
  <br />
  <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-12 alert alert-success">
      <h5>Services we provide</h5>
      <section>
        We provide our excellent services to clients across the Kansas City
        Metro and surrounding areas. At Camm Construction, we treat every
        project with close attention to detail and ensure that each and every
        one of our clients is completely satisfied. We set ourselves apart from
        the competition by working closely with developers, land owners,
        builders, real estate companies, and property managers throughout the
        duration of their project until the final walk-through is completed and
        the desired results are achieved.
      </section>
      <div>
        <button
          type="button"
          class="btn btn-primary"
          id="started"
          style="float: right;"
        >
          Lets gets started Today !
        </button>
 
    </div>
  </div>
</div>
